@model Category


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th width="300px">
                <img width="200" height="150" src="~/images/demoes/demo3/categories/@Model.Image" />
            </th>
            <td>@Html.Raw(Model.Name)</td>
            <td>@Html.Raw(Model.Description)</td>
        </tr>
    </tbody>
</table>