@model IEnumerable<Category>


<nav class="main-nav font2">
    <ul class="menu">
        <li class="active">
            <a href="/Home/Index">Home</a>
        </li>
        <li>
            <a href="/Categories/Index">Products</a>
            <div>
                <div class="row">
                    <div class="col-lg-4">
                        <ul class="submenu">
                            @foreach (var item in Model)
                            {
                                <li><a href="#">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                </div><!-- End .megamenu -->
            </div>
        </li>
        
        <li>
            <a href="#">Pages</a>
            <ul>
                <li><a href="wishlist.html">Wishlist</a></li>
                <li><a href="cart.html">Shopping Cart</a></li>
                <li><a href="checkout.html">Checkout</a></li>
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="/About/Index">About Us</a></li>
                <li>
                    <a href="/Blog/Index">Blog</a>
                </li>
                <li><a href="/Contact/index">Contact Us</a></li>
                <li><a href="/Account/Login">Login</a></li>
                <li><a href="/Account/Register">Regsiter</a></li>
                <li><a href="/Account/ForgetPassword">Forgot Password</a></li>
            </ul>
        </li>
        <li><a href="/Blog/Index">Blog</a></li>
        <li>
            <a href="/Contact/Index">Contact</a>
        </li>
    </ul>
</nav>