@model ProductAndPaginationWm

<div class="row" style="margin-top:100px;">
    <partial name="BooksPartial" model="Model.Books" />
</div>
<div id="pagination">
    <partial name="_Productpartial" model="Model.Pagination" />
</div>