@model HomeFooter
<div style="height:2000px">
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label>Address</label>
            <textarea asp-for="Address" id="Textone" class="form-control"></textarea>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Email</label>
            <textarea asp-for="Email" id="textTo" class="form-control"></textarea>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <textarea asp-for="Phone" id="numberOne" class="form-control"></textarea>
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>WorkHours</label>
            <textarea asp-for="WorkHours" id="numberOne" class="form-control"></textarea>
            <span asp-validation-for="WorkHours" class="text-danger"></span>
        </div>
        @*<button type="submit" class="btn btn-danger btn-block" value="Update" />*@
        <button type="submit" class="btn btn-danger btn-block"> Save</button>
    </form>
</div>