@model StudentVm

@section styles{ @*bunu ona gore yazdiqki burda yazilan css shared papkasinda loayout.cshtml icerisinde render ede bilek*@
<style>
    label {
        color: red;
    }
</style>
}
<form method="post">
    <div class="mb-3">
        <label>Group</label>
        <select asp-for="GroupId" class="form-control">
            @foreach (var item in ViewBag.Group)
            {
                <option value="@item.Id">@item.Fullname</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label>Fullname</label>
        <input type="text" class="form-control" asp-for="Fullname">
        <span asp-validation-for="Fullname" style="color:red"></span>

    </div>
    <div class="mb-3">
        <label>Adress</label>
        <textarea class="form-control" asp-for="Address"></textarea>
        <span asp-validation-for="Address" style="color:red"></span>

    </div>
    <div class="mb-3">
        <label>City</label>
        <input type="text" class="form-control" asp-for="City">
        <span asp-validation-for="City" style="color:red"></span>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section scripts{

    <partial name="_ValidationScriptsPartial" />
}